:root {
    --star-color: #FF9900;
    --empty-star-color: #767676;
    --font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
    padding-top: 5px;
}

.rotate-message { display: none; }

body {
    background-color: #FFFFFF;
    color: #000000;
    font-size: var(--font-size);
    font-family: 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;

    margin: 20px;
}

h1 {
    margin-bottom: 0px;
    font-size: 60px;
	font-weight: bold;
}

button {
    width: 50px;            /* ボタンの幅 */
    height: 50px;           /* ボタンの高さを幅と同じにして円形に */
    background-color: #F5F5F5;
    color: black;
    padding: 0;             /* paddingを調整 */
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    margin: 5px;
    border-radius: 25px;    /* 半径を幅の半分に設定 */
    transition: background-color 0.3s;
    white-space: nowrap;
    display: flex;          /* テキストを中央に配置 */
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent; /* タップハイライトを透明に */
}

button:hover {
    background-color: #E0E0E0;
}

button:active {
    background-color: #C0C0C0;
    color: white;
}

#controls {
    text-align: left;
}

/* アートワークのマージンなど */
#playing-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#playing-artwork {
    margin-right: 4px; /* 右側の余白を調整 */
}

#buttons {
    display: flex;
    align-items: center;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 5px;
}

/* アートワーク右の表示欄 */
#playing {
    flex-grow: 1;
    font-size: 40px;
	margin-left: 10px;
}

header p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}
header { text-align: right; width: 98%; padding: 0px 0; }

.fab.fa-spotify {
    margin-right: 8px;
    font-size: 24px;
	color: #1DB954;
}
.fab.fa-youtube {
    margin-right: 5px;
    font-size: 24px;
    color: #FF0000;
}
.fas.fa-info-circle {
    margin-right: 8px;
    font-size: 24px;
    color: #4169E1;
}
.fab.fa-twitter {
    margin-right: 6px;
    font-size: 24px;
    color: #1DA1F2;
}
.fab.fa-amazon {
    margin-right: 8px;
    font-size: 24px;
    color: #FF9900; 
}

.fas.fa-volume-up {
    animation: fadeInOut 2s infinite;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 20px;
	color: #333333;
}
@keyframes fadeInOut {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
.fas.fa-volume-up.no-blink {
    animation: none;
    font-size: 20px;
	color: DarkGray;
}

.fas.fa-exclamation-triangle {
    font-size: 24px;
    color: #DAA520;  /* 黄土色 */
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #1a0dab; /* Googleリンクの典型的な青色 */
}

a:hover {
    text-decoration: underline;
}

.custom-list-item {
    margin-top: 14px;
    display: flex;
    align-items: flex-start;

    flex-wrap: nowrap;  /* 要素が1行に収まるようになる */
}

.custom-list-number {
    font-family: Monaco, Menlo, 'Lucida Console', monospace;
	color: grey;
    font-size: 20px;
    margin-right: 12px;
}

.custom-list-content {
    font-size: 20px;
}

/* Watch MV, Preview, Info Caption */
.icon-caption {
    font-size: 16px;
    margin-right: 32px;
    display: inline-block;
}
/* Disabled Caption(No Preview) */
.icon-disabled-caption {
    font-size: 16px;
    margin-right: 32px;
    display: inline-block;

    color: #A9A9A9;
}
.icon-caption:hover {
    text-decoration: underline;
}

.icon-disabled {
  color: lightgray;
  opacity: 0.3;  /* 透明度も調整可能 */
}

.track-info {
    display: flex;  /* 横並びにする */
    align-items: center; /* 新しい行に表示 */
}

.track-info .artist{
	color: grey;
}

.artist {
    margin-left: 16px;  /* 左側に16ピクセルのマージンを追加 */
}

.track-info .track-name{
	color: black;
	font-weight: bold;
}

.icon-row {
    display: flex; /* 新しい行に表示 */
    align-items: center;
}

.separator {
    margin: 0 10px;
}

/* 共通のスタイルを適用 */
.search-input {
    margin-top: 0px;  /* 上側に余白 */
    margin-left: 0px;  /* 左側に余白 */
    margin-bottom: 0px;  /* 下側に余白 */
    margin-right: 10px; /* 右のボタンとの間隔 */
    box-sizing: border-box;  /* paddingとborderを含む */
    padding: 10px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    vertical-align: middle;
	font-size: 16px;
    width: 260px;  /* 固定幅 */
    height: 50px;  /* 固定幅 */
}

.search-input:focus {
    outline: none;
    border: 2px solid gray;
}

/* selectタグにスタイルを適用 */
select {
    color: #555;
    background-color: white;
}

/* スピーカーアイコン */
.playing-icon {
    margin-left: 8px;  /* 左側にマージン */
}

.info-now-playing {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
}

.info-now-playing:hover {
    text-decoration: underline;
}

.star, .empty-star, .half-star {
    font-size: 32px;
    margin-right: -3px;
}
.star { color: var(--star-color); }
.half-star { color: var(--star-color); }
.empty-star { color: var(--empty-star-color); }


.progress-bar {
    width: 100%;
    height: 24px;
    background-color: #555;
    margin: 10px 0;
}
.progress { height: 100%; background-color: var(--star-color); }

.visual-section {
    padding: 10px;
    max-width: 80%;
}
.section-space {
    padding: 10px;
}

#ul, ol箇条書きのマーク表示しない
.no-bullet { list-style-type: none; }

.album-artwork {
    display: block;
    margin: 0px;
}

.artist-name {
    font-size: 28px;
}

footer p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}
footer { text-align: left; width: 100%; padding: 20px 0; }

@keyframes bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.special-option {
    font-weight: bold;
}

.fas.fa-pause {
    display: none;
}

/* スライダーのコンテナ */
.volume-control {
  display: flex;
  align-items: center;
  gap: 10px; /* ラベルとスライダーの間隔 */
}

.slider-container {
  padding-left: 20px; /* ここで左側にパディングを追加 */
}

/* ラベルのスタイリング */
.volume-control label {
  font-size: 16px;
  color: black;
}

/* スライダーのトラック */
input[type='range'] {
  -webkit-appearance: none; /* デフォルトのスタイルを無効にする */
  width: 200px;
  margin: 7.5px 0;
  height: 8px; /* スライダーのトラックの高さ */
  border-radius: 4px;
  background: #F5F5F5; /* トラックの背景色 */
  outline: none; /* アウトラインを消す */
}

/* スライダーのサム（つまみ） */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px; /* サムの高さ */
  width: 24px; /* サムの幅 */
  border-radius: 12px; /* サムを円形に */
  background: #E0E0E0; /* サムの背景色 */
  cursor: pointer;
  transition: background-color 0.3s; /* 背景色の変化にトランジションを適用 */
}

/* サムがホバーされた時 */
input[type='range']:hover::-webkit-slider-thumb {
  background: #C0C0C0;
}

/* サムがアクティブ（ドラッグされている時） */
input[type='range']:active::-webkit-slider-thumb {
  background: #A9A9A9; /* アクティブ時のサムの色 */
}

/* Firefox用のスタイリング */
input[type='range']::-moz-range-track {
  background: #F5F5F5;
  height: 8px;
  border-radius: 4px;
  outline: none;
}

input[type='range']::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #E0E0E0;
  border: none;
}

input[type='range']:hover::-moz-range-thumb {
  background: #C0C0C0;
}

input[type='range']:active::-moz-range-thumb {
  background: #A9A9A9;
}

#searchBox {
    display: flex; /* Flexboxを有効化 */
    align-items: center; /* アイテムを中央に揃える */
}

#searchButton {
    flex-shrink: 0; /* ボタンのサイズが縮小しないようにする */
}

@media only screen and (max-width: 768px) {
    #volumeSlider {
        display: none;
    }
	body {
    	margin: 10px;
	}
   img {
        max-width: 68%;
        height: auto;
    }
    .custom-list-content {
        font-size: 14px;
    }
    .custom-list-number {
        font-size: 14px;
        margin-right: 6px;
    }
    /* アートワーク右の表示欄 */
    #playing {
        flex-grow: 1;
        font-size: 16px;
        margin-left: 4px;
    }

	.fab.fa-spotify {
        margin-right: 5px;
    	font-size: 20px;
	}
	.fab.fa-youtube {
        margin-right: 2px;
    	font-size: 20px;
	}
	.fas.fa-info-circle {
        margin-right: 5px;
    	font-size: 20px;
	}
	.fab.fa-twitter {
        margin-right: 3px;
    	font-size: 20px;
	}
	.fab.fa-amazon {
        margin-right: 5px;
    	font-size: 20px;
	}

    .fas.fa-volume-up {
        font-size: 16px;
    }
    .fas.fa-volume-up.no-blink {
        font-size: 16px;
    }

    .fas.fa-exclamation-triangle {
        font-size: 20px;
    }

    /* Watch MV, Preview, Info Caption */
    .icon-caption {
        font-size: 14px;
        margin-right: 28px;
    }
    /* Disabled Caption(No Preview) */
    .icon-disabled-caption {
        font-size: 14px;
        margin-right: 28px;
    }

	h1 {
        margin-bottom: 10px;
    	font-size: 32px;
	}

	footer p {
    	margin: 8px 0;
    	font-size: 14px;
	}

	.separator {
    	margin: 0px 5px;
	}

    #buttons {
	    margin-top: 10px;
	    margin-bottom: 10px;
	    margin-left: 2px;
    }

    .star, .empty-star, .half-star {
        font-size: 24px;
        margin-right: -2px;
    }

    .artist-name {
        font-size: 26px;
    }

    .visual-section,  .section-space {
        padding: 5px;
    }

    .info-now-playing {
        font-size: 14px;
        margin-bottom: 8px;
        margin-left: 5px;
    }
}

@media (hover: none), (pointer: coarse) {
  button:hover, button:active {
    background-color: #F5F5F5;
    color: black;
  }
}
