body {
    font-family: "Helvetica, Arial, Noto Sans, sans-serif";
    margin: 20px;
}

h1 {
    margin-bottom: 40px;
    font-size: 60px;
	font-weight: bold;
}

button {
    width: 100px;
    height:100px;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 34px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #666666;
}

button:hover {
    background-color: #555555;
}

#controls {
    text-align: left;
}

#playing-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#playing-artwork {
    margin-right: 10px; /* 右側の余白を調整 */
}

#buttons {
    display: flex;
    align-items: center;
}

#playing {
    flex-grow: 1;
    font-size: 40px;
	margin-left: 14px;
	font-weight: bold;
}

footer p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

footer { text-align: left; width: 100%; padding: 20px 0; }

.fab.fa-twitter {
    font-size: 20px;  /* アイコンのサイズを24pxに設定 */
    color: #1DA1F2;
}

.fab.fa-youtube {
    font-size: 20px;  /* アイコンのサイズを20pxに設定 */
    color: #FF0000;   /* YouTubeの赤色 */
}

.fab.fa-spotify {
    font-size: 20px;  /* アイコンのサイズを20pxに設定 */
	color: #1DB954;	  /* Spotifyの緑色 */
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #1a0dab; /* Googleリンクの典型的な青色 */
}

a:hover {
    text-decoration: underline;
	font-weight: normal; 
}

.custom-list-item {
    display: flex;
    align-items: flex-start;

    flex-wrap: nowrap;  /* 要素が1行に収まるようになる */
}

.custom-list-number {
	margin-top: 7px;

	font-family: monospace;
	color: #7F7F7F;  /* 灰色 */
    margin-right: 10px;
    font-size: 16px;
    align-self: flex-start;

	font-weight: bold;
}

.custom-list-content {
    font-size: 20px;
}

.play-on-youtube {
    font-size: 24px;
    font-weight: normal;
}

.youtube-icon-caption {
    font-size: 14px;
}

.icon-disabled {
  color: lightgray;  /* または #cccccc, rgba(192, 192, 192, 0.5) など */
  opacity: 0.3;  /* 透明度も調整可能 */
}

.track-info {
    display: flex;  /* 横並びにする */
    align-items: center; /* 新しい行に表示 */
}

.track-info .artist{
	color: #7F7F7F;  /* 灰色 */
}

.track-info .track-name{
	color: black; /* 黒色 */
	font-weight: bold;
}

.icon-row {
    display: flex; /* 新しい行に表示 */
    align-items: center;
}

.separator {
    margin: 0 10px;
}

@media only screen and (max-width: 768px) {
	body {
    	font-family: "Helvetica, Arial, Noto Sans, sans-serif";
    	margin: 10px;
	}
   img {
        max-width: 68%;
        height: auto;
    }
    .custom-list-content {
        font-size: 14px;
    }
    .custom-list-number {
		margin-right: 5px;
		margin-left: -5px;
        font-size: 10px;
    }
    #playing {
        flex-grow: 1;
        font-size: 14px;
        margin-left: 10px;
    }
    .play-on-youtube {
        font-size: 14px;
		font-weight: normal;  /* または400 */
    }
	button {
    	width: 60px;
    	height:60px;
    	font-size: 16px;
	}

    .youtube-icon-caption {
        font-size: 12px;
    }

	h1 {
    margin-bottom: 10px;
    	font-size: 28px;
	}
	#playing-artwork {
    	margin-right: 4px; /* 右側の余白を調整 */
	}

	footer p {
    	margin: 8px 0;
    	font-size: 12px;
	}

	.separator {
    	margin: 0 5px;
	}
}
