:root {
    --star-color: #FF9900;
    --empty-star-color: #767676;
    --font-size: 16px;
    --valence-color: #ffd54f; /* Valence黄色 */
    --acousticness-color: #228b22; /* Acousticness深緑色 */
    --danceability-color: #ff69b4; /* Danceability桃色 */
    --energy-color: #e74c3c; /* Energy赤色 */
    --instrumentalness-color: #b3e0f2; /* Instrumentalnessオフホワイト */
    --liveness-color: #f39c12; /* ビブラントオレンジ */
    --speechiness-color: #2ecc71; /* ライトグリーン */
    --loudness-color: #2980b9; /* ストロングブルー */
}

img {
    max-width: 100%;
    max-height: 600px; /* 最大高さを設定 */
    height: auto;
    padding-top: 5px;
}

.rotate-message { display: none; }

body {
    background-color: #f5f5f5; /* 背景色を薄い灰色に設定 */
    margin: 0; /* デフォルトのマージンをリセット */
    color: #000000;
    font-size: var(--font-size);
    font-family: 'Yu Gothic Medium', 'Hiragino Kaku Gothic Pro', 'Noto Sans Japanese', Monaco, Menlo, 'Lucida Console', monospace;
}

.container {
    max-width: 1000px; /* 最大幅を設定 */
    margin: 0 auto; /* 上下のマージンを0にし、左右を自動で調整して中央寄せ */
    background-color: #fff; /* コンテナの背景は白 */
    padding: 20px; /* 内側の余白を設定 */
    padding-bottom: 90px; /* コンテンツの下に余白を追加 */
    min-height: 100vh; /* 最小の高さをビューポートの100%に設定 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* やや控えめな影を追加 */
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 60px;
	font-weight: bold;
}

button {
    width: 50px;            /* ボタンの幅 */
    height: 50px;           /* ボタンの高さを幅と同じにして円形に */
    background-color: #F5F5F5;
    color: black;
    padding: 0;             /* paddingを調整 */
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    margin: 5px;
    border-radius: 25px;    /* 半径を幅の半分に設定 */
    transition: background-color 0.3s;
    white-space: nowrap;
    display: flex;          /* テキストを中央に配置 */
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent; /* タップハイライトを透明に */
    flex: 0 0 auto; /* ボタンのサイズが内容に依存し、拡大縮小しないように設定 */
}

button:hover {
    background-color: #E0E0E0;
}

button:active {
    background-color: #C0C0C0;
    color: white;
}

.sort-buttons {
    display: flex;
    flex-direction: row; /* ボタンを横並びにする */
    justify-content: flex-start; /* 左寄せ */
    align-items: center; /* アイテムを中央揃え */
    margin-top: 10px; /* アートワークからのマージン */
}

.sort-button {
    margin: 5px; /* ボタン間のマージンを追加 */
    width: 30px;
    height: 30px;
    background-color: #F5F5F5;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.sort-section {
    display: flex;
    justify-content: flex-start; /* 左寄せ */
    align-items: center; /* アイテムを中央揃え */
    margin-top: 10px; /* アートワークからのマージン */
    margin-left: 4px; /* アートワークからのマージン */
}

.sort-option {
    display: flex;
    align-items: center;
    margin-right: 30px; /* オプション間のスペース */
}

.sort-button:hover {
    background-color: #E0E0E0;
}

.sort-button:active {
    background-color: #C0C0C0;
    color: white;
}

#controls {
    text-align: left;
}

/* アートワークのマージンなど */
#playing-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#playing-artwork {
    margin-right: 4px; /* 右側の余白を調整 */
}

#buttons {
    position: fixed;
    left: 50%;
    bottom: 20px; /* 適宜調整してください */
    transform: translateX(-50%);
    z-index: 100; /* 他の要素より前に表示 */
    background: #fff; /* 背景色 */
    border-radius: 10px; /* デザインはお好みで調整 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 影を付ける */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; /* 必要に応じて調整 */
}

/* アートワーク右の表示欄 */
#playing {
    flex-grow: 1;
    font-size: 28px;
	margin-left: 10px;
}

header p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}
header { text-align: right; width: 98%; padding: 0px 0; }

.fab.fa-spotify {
    margin-left: 1px;
    margin-right: 7px;
    font-size: 24px;
	color: #1DB954;
}
.fab.fa-youtube {
    margin-right: 4px;
    font-size: 24px;
    color: #FF0000;
}
.fas.fa-info-circle {
    margin-right: 7px;
    font-size: 24px;
    color: #4169E1;
}
.fab.fa-x-twitter {
    margin-right: 7px;
    font-size: 24px;
    color: #000;
}
.fab.fa-amazon {
    margin-left: 1px;
    margin-right: 9px;
    font-size: 24px;
    color: #FF9900; 
}

.fas.fa-volume-up {
    animation: fadeInOut 2s infinite;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 20px;
	color: #333333;
}
@keyframes fadeInOut {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
.fas.fa-volume-up.no-blink {
    animation: none;
    font-size: 20px;
	color: #F5F5F5;
}

.fas.fa-exclamation-triangle {
    font-size: 24px;
    color: #DAA520;  /* 黄土色 */
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #1a0dab; /* Googleリンクの典型的な青色 */
}

a:hover {
    text-decoration: underline;
}

.custom-list-item {
    margin-top: 14px;
    display: flex;
    align-items: flex-start;

    flex-wrap: nowrap;  /* 要素が1行に収まるようになる */
}

.custom-list-number {
    font-family: 'Fira Code', 'Consolas', 'Courier New', 'Roboto Mono', 'Source Code Pro', monospace;
	color: grey;
    font-size: 20px;
    margin-right: 12px;

    line-height: 1.7;
}

.custom-list-content {
    font-size: 20px;
}

/* Watch MV, Preview, Info Caption */
.icon-caption {
    font-family: 'Yu Gothic Medium', 'Hiragino Kaku Gothic Pro', 'Noto Sans Japanese', Monaco, Menlo, 'Lucida Console', monospace;
    font-size: 20px;
    margin-right: 32px;
    display: inline-block;
}
/* Disabled Caption(No Preview) */
.icon-disabled-caption {
    font-family: 'Yu Gothic Medium', 'Hiragino Kaku Gothic Pro', 'Noto Sans Japanese', Monaco, Menlo, 'Lucida Console', monospace;
    font-size: 20px;
    margin-right: 32px;
    display: inline-block;

    color: #A9A9A9;
}
.icon-caption:hover {
    text-decoration: underline;
}

.icon-disabled {
    color: lightgray;
    opacity: 0.3;  /* 透明度も調整可能 */
}

.artist{
	color: grey;
    display: inline-block;
    margin-bottom: 5px;  /* 下側に余白 */
}

.track-name{
	font-weight: bold;
}

.tempo-value {
    font-family: 'Yu Gothic Medium', 'Hiragino Kaku Gothic Pro', 'Noto Sans Japanese', Monaco, Menlo, 'Lucida Console', monospace;
    font-weight: bold;
    color: grey;
    margin-right: 28px;
    display: inline-block; /* 要素をインラインブロックとして扱う */
    width: 110px; /* 幅を指定して一定に保つ */
    text-align: right; /* テキストを右揃えにする */
}

.camelot-info {
    font-family: 'Yu Gothic Medium', 'Hiragino Kaku Gothic Pro', 'Noto Sans Japanese', Monaco, Menlo, 'Lucida Console', monospace;
    font-weight: bold;
    color: grey;
    margin-right: 70px;
    display: inline-block; /* 要素をインラインブロックとして扱う */
    width: 60px; /* 幅を指定して一定に保つ */
    text-align: right; /* テキストを右揃えにする */
}

.key-info {
    font-family: 'Yu Gothic Medium', 'Hiragino Kaku Gothic Pro', 'Noto Sans Japanese', Monaco, Menlo, 'Lucida Console', monospace;
    font-weight: bold;
    color: grey;
    margin-right: 14px;
    display: inline-block; /* 要素をインラインブロックとして扱う */
    width: 80px; /* 幅を指定して一定に保つ */
    text-align: left; /* テキストを右揃えにする */
}

.icon-row {
    display: flex; /* 新しい行に表示 */
    align-items: center;
}

/* 共通のスタイルを適用 */
.search-input {
    margin-top: 0px;  /* 上側に余白 */
    margin-left: 0px;  /* 左側に余白 */
    margin-bottom: 0px;  /* 下側に余白 */
    margin-right: 10px; /* 右のボタンとの間隔 */
    box-sizing: border-box;  /* paddingとborderを含む */
    padding: 10px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    vertical-align: middle;
	font-size: 16px;
    width: 260px;  /* 固定幅 */
    height: 50px;  /* 固定幅 */
}

.search-input:focus {
    outline: none;
    border: 2px solid gray;
}

/* selectタグにスタイルを適用 */
select {
    color: #555;
    background-color: white;
}

/* スピーカーアイコン */
.playing-icon {
    margin-left: 8px;  /* 左側にマージン */
}

.info-now-playing {
    font-size: 24px;
    margin-bottom: 5px;
    margin-left: 10px;
    display: inline-block;
}

.info-now-playing:hover {
    text-decoration: underline;
}

.star, .empty-star, .half-star {
    font-size: 24px;
    margin-right: -3px;
}
.star { color: var(--star-color); }
.half-star { color: var(--star-color); }
.empty-star { color: var(--empty-star-color); }


.progress-bar {
    width: 100%;
    height: 24px;
    background-color: #555;
    margin: 10px 0;
}
.progress { height: 100%; background-color: var(--star-color); }

.progress-valence { background-color: var(--valence-color); }
.progress-acousticness { background-color: var(--acousticness-color); }
.progress-danceability { background-color: var(--danceability-color); }
.progress-energy { background-color: var(--energy-color); }
.progress-instrumentalness { background-color: var(--instrumentalness-color); }
.progress-liveness { background-color: var(--liveness-color); }
.progress-speechiness { background-color: var(--speechiness-color); }
.progress-loudness { background-color: var(--loudness-color); }

.visual-section {
    padding: 10px;
    max-width: 570px; /* 最大高さを設定 */
}
.section-space {
    padding: 10px;
}

#ul, ol箇条書きのマーク表示しない
.no-bullet { list-style-type: none; }

.album-artwork {
    display: block;
    margin: 0px;
}

footer p {
    margin: 0px 0;
    font-size: 16px;
    color: #555;
}
footer {
    text-align: left;
    width: 100%;
    padding: 50px 0 0 0;
}

@keyframes bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.special-option {
    font-weight: bold;
}

.fas.fa-pause {
    display: none;
}

/* スライダーのコンテナ */
.volume-control {
  display: flex;
  align-items: center;
  gap: 10px; /* ラベルとスライダーの間隔 */
}

/* ラベルのスタイリング */
.volume-control label {
  font-size: 16px;
  color: black;
}

/* スライダーのトラック */
input[type='range'] {
  -webkit-appearance: none; /* デフォルトのスタイルを無効にする */
  width: 200px;
  margin: 7.5px 0;
  height: 8px; /* スライダーのトラックの高さ */
  border-radius: 4px;
  background: #F5F5F5; /* トラックの背景色 */
  outline: none; /* アウトラインを消す */
}

/* スライダーのサム（つまみ） */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px; /* サムの高さ */
  width: 24px; /* サムの幅 */
  border-radius: 12px; /* サムを円形に */
  background: #E0E0E0; /* サムの背景色 */
  cursor: pointer;
  transition: background-color 0.3s; /* 背景色の変化にトランジションを適用 */
}

/* サムがホバーされた時 */
input[type='range']:hover::-webkit-slider-thumb {
  background: #C0C0C0;
}

/* サムがアクティブ（ドラッグされている時） */
input[type='range']:active::-webkit-slider-thumb {
  background: #A9A9A9; /* アクティブ時のサムの色 */
}

/* Firefox用のスタイリング */
input[type='range']::-moz-range-track {
  background: #F5F5F5;
  height: 8px;
  border-radius: 4px;
  outline: none;
}

input[type='range']::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #E0E0E0;
  border: none;
}

input[type='range']:hover::-moz-range-thumb {
  background: #C0C0C0;
}

input[type='range']:active::-moz-range-thumb {
  background: #A9A9A9;
}

#searchBox {
    display: flex; /* Flexboxを有効化 */
    align-items: center; /* アイテムを中央に揃える */
}

#searchButton {
    flex-shrink: 0; /* ボタンのサイズが縮小しないようにする */
}

#volumeSlider {
    display: none;
}

.help-link a {
  font-size: 0.8em; /* 見出しより小さく設定 */
}

#youtube-video {
    border: 0;  /* frameborder="0" の代わり */
}

.home-icon {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 100; /* 他の要素より前に表示 */
    background: #fff; /* 背景色 */
    border-radius: 50%;
    width: 44px;
    height: 44px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 影を付ける */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icon a {
    display: block;
    color: #333; /* アイコン色 */
    font-size: 24px; /* アイコンサイズ */
}

@media only screen and (max-width: 768px) {
	body {
        background-color: #ffffff; /* 背景色を白に設定 */
    	margin: 10px;
	}
    .container {
        max-width: 100%; /* スマートフォン等では最大幅を100%に */
        box-shadow: none; /* モバイルビューでの影を無効化 */
        padding-bottom: 70px; /* コンテンツの下に余白を追加 */
    }
   img {
        max-width: 68%;
    }
    .big-artwork img {
        max-width: 100%;
    }
    .custom-list-content {
        font-size: 16px;
    }
    .custom-list-number {
        font-size: 16px;
        margin-right: 6px;
    }
    /* アートワーク右の表示欄 */
    #playing {
        flex-grow: 1;
        font-size: 16px;
        margin-left: 4px;
    }
	.fab.fa-spotify {
    	font-size: 20px;
	}
	.fab.fa-youtube {
    	font-size: 20px;
	}
	.fas.fa-info-circle {
    	font-size: 20px;
	}
    .fab.fa-x-twitter {
        font-size: 20px;
    }
	.fab.fa-amazon {
    	font-size: 20px;
	}

    .fas.fa-volume-up {
        font-size: 16px;
    }
    .fas.fa-volume-up.no-blink {
        font-size: 16px;
    }

    .fas.fa-exclamation-triangle {
        font-size: 20px;
    }

    /* Watch MV, Preview, Info Caption */
    .icon-caption {
        font-size: 16px;
        margin-right: 28px;
    }
    /* Disabled Caption(No Preview) */
    .icon-disabled-caption {
        font-size: 16px;
        margin-right: 28px;
    }
	h1 {
        margin-bottom: 10px;
    	font-size: 32px;
	}
	footer p {
    	font-size: 14px;
	}
    #buttons {
	    margin-top: 10px;
	    margin-bottom: 10px;
	    margin-left: 2px;
        width: 80%;
    }
    .star, .empty-star, .half-star {
        font-size: 22px;
        margin-right: -2px;
    }
    .info-now-playing {
        font-size: 16px;
        margin-bottom: 3px;
        margin-left: 5px;
    }
    input[type='range'] {
        width: 100%; /* モバイルデバイスではスライダーの幅を画面幅に合わせる */
        max-width: 150px; /* 最大幅は150ピクセルに制限 */
    }
    .tempo-value {
        width: 90px; /* 幅を指定して一定に保つ */
    }
    .sort-option {
        margin-right: 2px; /* オプション間のスペース */
    }
    .sort-section {
        margin-left: 0px; /* アートワークからのマージン */
    }
}

@media (hover: none), (pointer: coarse) {
  button:hover, button:active {
    background-color: #F5F5F5;
    color: black;
  }
}
