<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="View album details." name="description"/>
<meta content="hiro" name="author"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
<title>{{ album.name }} - Album Details</title>
</head>
<body>
<div class="section-space">
    <h1>{{ album.name }}</h1>
    <img alt="Album Cover" src="{{ album.image }}"/>
</div>
<div class="section-space">
    <p>Release Date: <strong>{{ album.release_date }}</strong></p>
    <p>Popularity: <strong>{{ album.popularity }}%</strong></p>
    <span class="stars">
        {% for _ in range(0, album.popularity // 10) %}
            <span class="star"><i class="fas fa-star"></i></span>
        {% endfor %}
        {% if album.popularity % 10 >= 5 %}
            <span class="half-star"><i class="fas fa-star-half-alt"></i></span>
        {% endif %}
        {% for _ in range(0, 10 - (album.popularity // 10) - (album.popularity % 10 >= 5)) %}
            <span class="empty-star"><i class="far fa-star"></i></span>
        {% endfor %}
    </span>
</div>
<div class="section-space">
    <h2>Artists</h2>
    <ul>
        {% for artist in album.artists %}
        <li><a href="{{ url_for('artist_details', artist_id=artist.id) }}">{{ artist.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="section-space">
    <h2>Tracklist</h2>
    <ul>
        {% for track in album.tracks %}
            {% set minutes = (track.length / 1000 / 60)|int %}
            {% set seconds = ((track.length / 1000) % 60)|int %}
            <li><a href="{{ url_for('song_details', song_id=track.id) }}">{{ track.name }}</a> ({{ minutes }}:{{ "%02d"|format(seconds) }})</li>
        {% endfor %}
    </ul>
</div>
<footer>
    <p>Data sourced from <a href="https://www.spotify.com" target="_blank"><i class="fab fa-spotify"></i>Spotify</a>.</p>
</footer>
</body>
</html>
