<!DOCTYPE html>

<html lang="ja">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELP4DSW3BL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ELP4DSW3BL');
    </script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="アルバムの詳細を表示します。" name="description">
    <meta content="hiro" name="author">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ album.name }} by {{ artist_names }}">
    <meta name="twitter:description" content="'{{ album.name }}'のトラック一覧、人気度、リリース日など確認。">
    <meta name="twitter:image" content="{{ album.image or url_for('static', filename='TuneNest.png') }}">
    <title>{{ album.name }} by {{ artist_names }} - アルバム詳細情報</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
</head>
<body>
<div class="container">
<h1>{{ album.name }}</h1>
  <div class="section-space">
        <div class="album-artwork big-artwork">
            <img alt="アルバムのアートワーク" src="{{ album.image or url_for('static', filename='TuneNest.png') }}" loading="lazy">
        </div>
</div>
<div class="section-space">
    <h2>基本情報</h2>
    <p><strong>Spotify人気度</strong>：{{ album.popularity }}%</p>
    <span>
        {% for _ in range(0, album.popularity // 10) %}
            <span class="star"><i class="fas fa-star"></i></span>
        {% endfor %}
        {% if album.popularity % 10 >= 5 %}
            <span class="half-star"><i class="fas fa-star-half-alt"></i></span>
        {% endif %}
        {% for _ in range(0, 10 - (album.popularity // 10) - (album.popularity % 10 >= 5)) %}
            <span class="empty-star"><i class="far fa-star"></i></span>
        {% endfor %}
    </span>
    <p><strong>アーティスト</strong>：
    <ul>
        {% for artist in album.artists %}
        <li><a href="{{ url_for('artist_details', artist_id=artist.id) }}">{{ artist.name }}</a></li>
        {% endfor %}
    </ul>
    <p><strong>リリース日</strong>： {{ album.release_date }}</p>
  </div>
<div class="section-space">
    <h2>トラック一覧</h2>
    <ul>
        {% for track in album.tracks %}
            {% set minutes = (track.length / 1000 / 60)|int %}
            {% set seconds = ((track.length / 1000) % 60)|int %}
            <li><a href="{{ url_for('song_details', song_id=track.id) }}">{{ track.name }}</a> ({{ minutes }}:{{ "%02d"|format(seconds) }})</li>
        {% endfor %}
    </ul>
</div>
    <!-- Navigation Icon at the bottom -->
    <div class="home-icon">
        <a href="/" aria-label="Home">
            <i class="fas fa-home"></i> <!-- FontAwesomeのホームアイコン -->
        </a>
    </div>
</div>
</body>
</html>
