<!DOCTYPE html>

<html lang="ja">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELP4DSW3BL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ELP4DSW3BL');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="アーティストの人気度、ジャンル、フォロワー数、代表曲、作品一覧を表示します">
    <meta name="author" content="hiro">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ artist['name'] }}の基本情報">
    <meta name="twitter:description" content="{{ artist.name }}の人気度、ジャンル、フォロワー数、代表曲、作品一覧を表示します">
    <meta name="twitter:image" content="{{ artist['image_url'] or url_for('static', filename='TuneNest.png') }}">
    <title>{{ artist['name'] }} - アーティスト基本情報</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
</head>
<body>
<div class="container">
    <div class="section-space">
        <h1>{{ artist['name'] }}</h1>
        <img alt="{{ artist['name'] }}の写真" src="{{ artist['image_url'] or url_for('static', filename='TuneNest.png') }}" loading="lazy">
        <h2>基本情報</h2>
        <p>Spotify人気度：{{ artist.popularity }}%</p>
        <span class="stars">
            {% for _ in range(0, artist.popularity // 10) %}
                <span class="star"><i class="fas fa-star"></i></span>
            {% endfor %}
            {% if artist.popularity % 10 >= 5 %}
                <span class="half-star"><i class="fas fa-star-half-alt"></i></span>
            {% endif %}
            {% for _ in range(0, 10 - (artist.popularity // 10) - (artist.popularity % 10 >= 5)) %}
                <span class="empty-star"><i class="far fa-star"></i></span>
            {% endfor %}
        </span>
        <p>ジャンル：{{ artist['genres'] | join(', ') }}</p>
        <p>Spotifyフォロワー数：{{ artist['followers'] }}人</p>
    </div>

    <div class="section-space">
        <h2>代表曲</h2>
            <ul>
                {% for track in top_tracks %}
                    <li><a href="{{ url_for('song_details', song_id=track['id']) }}">{{ track['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>

    <div class="section-space">
        <h2>最新アルバム</h2>
        {% if latest_album %}
            <ul>
                <li><a href="{{ url_for('album_details', artist_id=latest_album['artist_id'], album_id=latest_album['id']) }}">{{ latest_album['name'] }}</a></li>
            </ul>
        {% else %}
            <p>最新アルバムに関する情報はありません。</p>
        {% endif %}
    </div>

    <div class="section-space">
        <h2>関連アーティスト</h2>
        <ul>
            {% for artist in related_artists %}
                <li><a href="{{ url_for('artist_details', artist_id=artist['id']) }}">{{ artist['name'] }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="section-space">
        <h2><a href="{{ url_for('all_albums_and_songs_for_artist', artist_id=artist.id) }}">アルバム一覧</a></h2>
        <h2><a href="{{ url_for('all_singles_and_songs_for_artist', artist_id=artist.id) }}">シングル一覧</a></h2>
        <h2><a href="{{ url_for('all_compilations_and_songs_for_artist', artist_id=artist.id) }}">コンピ・アルバム一覧</a></h2>
    </div>

    <!-- Navigation Icon at the bottom -->
    <div class="home-icon">
        <a href="/" aria-label="Home">
            <i class="fas fa-home"></i> <!-- FontAwesomeのホームアイコン -->
        </a>
    </div>
</div>
</body>
</html>
