<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELP4DSW3BL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ELP4DSW3BL');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="google" content="notranslate"> <!-- Prevent translation -->
    <meta name="description" content="Displays artist popularity, genre, number of followers, top tracks, and albums.">
    <meta name="author" content="hiro">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ artist['name'] }}の基本情報">
    <meta name="twitter:description" content="Learn about {{ artist.name }}'s popularity, genre, followers, top tracks, and albums.">
    <meta name="twitter:image" content="{{ artist['image_url'] or url_for('static', filename='tunenest.jpg', _external=True) }}?ver=1">
    <title>{{ artist['name'] }} - アーティスト基本情報</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
  </head>
  <body>
    <div class="container">
      <div class="section-space">
        <h1><span class="notranslate">{{ artist['name'] }}</span></h1>
        <img alt="Photo of {{ artist['name'] }}" src="{{ artist['image_url'] or url_for('static', filename='tunenest.jpg') }}" loading="lazy">
        <h2>基本情報</h2>
        <p>人気度: <span class="notranslate">{{ artist.popularity }}</span>%</p>
        <span class="stars">{% for _ in range(0, artist.popularity // 10) %} 
          <span class="star">
            <i class="fas fa-star"></i>
          </span>{% endfor %} {% if artist.popularity % 10 >= 5 %} 
          <span class="half-star">
            <i class="fas fa-star-half-alt"></i>
          </span>{% endif %} {% for _ in range(0, 10 - (artist.popularity // 10) - (artist.popularity % 10 >= 5)) %} 
          <span class="empty-star">
            <i class="far fa-star"></i>
          </span>{% endfor %} 
        </span>
        <p>ジャンル: <span class="notranslate">{{ artist['genres'] | join(', ') }}</span></p>
        <p>Spotifyフォロワー数: <span class="notranslate">{{ artist['followers']|number_format }}人</span></p>
        <p>
          {% if spotify_url %}
            <a href="{{ spotify_url }}" target="_blank" rel="noopener noreferrer" title="Spotifyで見る">
              <i class="fab fa-spotify"></i> Spotifyで見る
            </a> / 
          {% endif %}
          <a href="https://ja.wikipedia.org/wiki/Special:Search?search={{ artist['name'] }}" target="_blank" rel="noopener noreferrer" title="Wikiで見る">
            <i class="fab fa-wikipedia-w"></i> ウィキペディアで見る
          </a>
        </p>
      </div>
      <div class="section-space">
        <h2>人気の曲</h2>
        <ul>{% for track in top_tracks %} 
          <li>
            <a href="{{ url_for('song_details', song_id=track['id']) }}" title="View track details"><span class="notranslate">{{ track['name'] }}</span></a>
          </li>{% endfor %} 
        </ul>
      </div>
      <div class="section-space">
        <h2>最新アルバム</h2>{% if latest_album %}
        <ul>
          <li>
            <a href="{{ url_for('album_details', artist_id=latest_album['artist_id'], album_id=latest_album['id']) }}" title="View album details"><span class="notranslate">{{ latest_album['name'] }}</span></a>
          </li>
        </ul>{% else %} 
        <p>No information available for the latest album.</p>{% endif %}
      </div>
      <div class="section-space">
        <h2>関連アーティスト</h2>
        <ul>{% for artist in related_artists %} 
          <li>
            <a href="{{ url_for('artist_details', artist_id=artist['id']) }}" title="View artist details"><span class="notranslate">{{ artist['name'] }}</span></a>
          </li>{% endfor %} 
        </ul>
      </div>
      <div class="section-space">
        <h2>
          <a href="{{ url_for('all_albums_and_songs_for_artist', artist_id=artist.id) }}">アルバム</a>
        </h2>
        <h2>
          <a href="{{ url_for('all_singles_and_songs_for_artist', artist_id=artist.id) }}">シングル</a>
        </h2>
        <h2>
          <a href="{{ url_for('all_compilations_and_songs_for_artist', artist_id=artist.id) }}">コンピレーション</a>
        </h2>
      </div>
      <!-- Navigation Icon at the bottom -->
      <div class="home-icon">
        <a href="/" aria-label="Home" title="Return to Home">
          <i class="fas fa-home"></i>
          <!-- FontAwesome Home Icon -->
        </a>
      </div>
    </div>
  </body>
</html>
