<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELP4DSW3BL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ELP4DSW3BL');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="コンピレーション・アルバムとトラックの一覧を表示します">
    <meta name="author" content="hiro">
    <title>コンピレーション・アルバム</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
  </head>
  <body>
    <div class="container">
      <h1>コンピ・アルバム</h1>{% if total_compilations >0 %}
      <p>コンピレーション・アルバムの総数：{{ total_compilations }}枚</p>{% include 'pagination.html' %}
      <div>{% for compilation in compilations_with_songs %} 
        <h3>
          <a href="{{ url_for('album_details', artist_id=compilation['artist_id'], album_id=compilation['compilation_id']) }}">{{ loop.index + (page - 1) * per_page }}. {{ compilation.name }}</a>
        </h3>
        <!-- カバー画像表示 -->{% if compilation.images %} 
        <img src="{{ compilation.images[0].url }}" alt="カバー画像" style="max-width: 200px;">{% else %} 
        <img src="{{ url_for('static', filename='TuneNest.png') }}" alt="デフォルト画像" style="max-width: 200px;">{% endif %} 
        <p>リリース日: {{ compilation.release_date }}</p>
        <p>トラック数： {{ compilation['total_tracks'] }}</p>
        <ol>{% for track in compilation.tracks %} 
          <li>
            <a href="{{ url_for('song_details', song_id=track['track_id']) }}">{{ track['name'] }}</a>
          </li>{% endfor %} 
        </ol>
        <!-- アルバム間の区切り線 -->
        <hr class="album-divider">{% endfor %} 
      </div>{% else %} 
      <p>コンピレーション・アルバムに関する情報はありません。</p>
      <a href="{{ url_for('artist_details', artist_id=artist_id) }}">アーティスト詳細へ戻る</a>{% endif %}
      <!-- Navigation Icon at the bottom -->
      <div class="home-icon">
        <a href="/" aria-label="Home">
          <i class="fas fa-home"></i>
          <!-- FontAwesomeのホームアイコン -->
        </a>
      </div>
    </div>
  </body>
</html>
