<!DOCTYPE html>

<html lang="{{ user_language }}">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="Page displaying compilation and track list." name="description"/>
<meta content="hiro" name="author"/>
<meta name="robots" content="noindex, follow">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
<title>Compilation Albums</title>
</head>
<body>
<h1>Compilation Albums</h1>
    {% if total_compilations > 0 %}
        <p>Total Compilation Albums: {{ total_compilations }}</p>
        {% include 'pagination.html' %}
        <div>
            {% for compilation in compilations_with_songs %}
            <h2>
                <a href="{{ url_for('album_details', artist_id=compilation['artist_id'], album_id=compilation['compilation_id']) }}">{{ loop.index + (page - 1) * per_page }}. {{ compilation.name }} ({{ compilation.release_date }})</a>
            </h2>
            <table>
                {% for track in compilation.tracks %}
                    <tr><td><a href="{{ url_for('song_details', song_id=track['track_id']) }}">{{ track['name'] }}</a></td></tr>
                {% endfor %}
            </table>
            {% endfor %}
        </div>
    {% else %}
        <p>No information available about compilation albums.</p>
    {% endif %}
    <footer>
        <p>Data sourced from <a href="https://www.spotify.com" target="_blank" rel="noopener"><i class="fab fa-spotify"></i>Spotify</a>.</p>
    </footer>
</body>
</html>
