<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELP4DSW3BL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ELP4DSW3BL');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="音楽特性について説明します">
    <meta name="author" content="hiro">
    <title>音楽特性の説明</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
  </head>
  <body>
    <div class="container">
      <section>
        <h2>音楽特性とは</h2>
        <ul>
          <li>
            <strong>肯定感 (valence)</strong>
            <p>曲が伝える肯定的な感情を0から100までの尺度で表します。バレンスが高い曲はより肯定的な感情（例：幸せ、明るい、高揚）を感じさせ、バレンスが低い曲はより否定的な感情（例：悲しい、沈んでいる、怒っている）を感じさせます。</p>
          </li>
          <li>
            <strong>アコースティック度 (acousticness)</strong>
            <p>曲がアコースティックであるかどうかの確信度を0から100までで表します。100は、曲がアコースティックであるという高い確信度を表します。</p>
          </li>
          <li>
            <strong>踊りやすさ (danceability)</strong>
            <p>曲がダンスに適しているかを、テンポ、リズムの安定性、ビートの強さ、全体的な規則性などの音楽的要素の組み合わせに基づいて評価します。0が最も踊りにくく、100が最も踊りやすいとされます。</p>
          </li>
          <li>
            <strong>エネルギー度 (energy)</strong>
            <p>曲の強度と活動性を0から100までの尺度で表します。一般的に、エネルギッシュな曲は速く、大きな音、騒々しいと感じられます。例えば、デスメタルは高いエネルギーを持ち、バッハの前奏曲は尺度上で低いスコアとなります。この属性に寄与する知覚的特徴には、ダイナミックレンジ、知覚される音量、音色、発音速度、一般的なエントロピーなどがあります。</p>
          </li>
          <li>
            <strong>インスト度 (instrumentalness)</strong>
            <p>曲にボーカルが含まれていない確率を予測します。「オー」と「アー」のような音は、この文脈では楽器として扱われます。ラップやスポークンワードのトラックは明らかに「ボーカル」です。インストゥルメンタル度の値が100に近いほど、曲にボーカルが含まれていない可能性が高くなります。50以上の値は、楽器のトラックを表す意図であり、値が100に近づくにつれて確信度が高くなります。</p>
          </li>
          <li>
            <strong>ラウドネス (loudness)</strong>
            <p>トラック全体のラウドネス（音量）をデシベル（dB）で表したもの。ラウドネスの値はトラック全体で平均され、トラックの相対的な音量を比較するのに役立ちます。ラウドネスは、音の物理的な強度（振幅）の主要な心理的相関を持つ特性です。値は通常 -60 dBから0 dBの範囲です。</p>
          </li>
          <li>
            <strong>ライブネス (liveness)</strong>
            <p>録音中に観客がいるかどうかを検出します。ライヴネスの値が高いほど、そのトラックがライブで演奏された可能性が高いことを示します。0.8以上の値は、トラックがライブである可能性が高いことを示します。</p>
          </li>
          <li>
            <strong>スピーチネス (speechiness)</strong>
            <p>スピーチネスは、トラック内の音声の有無を検出します。録音がより音声のみに近づくほど（例：トークショー、オーディオブック、詩）、属性値は1.0に近づきます。0.66を超える値は、おそらく完全に音声で構成されているトラックを示します。0.33から0.66の範囲の値は、セクションごとに分かれたり、レイヤーとして重ねられたりする音楽と音声が混在するトラックを示します（ラップ音楽など）。0.33未満の値は、主に音楽や音声以外のトラックを表している可能性が高いです。</p>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
