<!DOCTYPE html>

<html lang="ja">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
<title>アルバムとトラックリストの使い方</title>
</head>
<body>
<h1>アルバムとトラックリストの使い方</h1>
<section>
<h2>アーティスト詳細へのリンク</h2>
<p>ページの上部にある「Back to Artist Details」リンクから、アーティストの詳細ページへ戻ることができます。</p>
</section>
<section>
<h2>アルバムの一覧</h2>
<p>アルバムの総数が表示され、各アルバムとそのトラックへのリンクが提供されます。アルバム名やトラック名をクリックすると、詳細ページへ遷移します。</p>
</section>
<section>
<h2>アルバム情報のない場合</h2>
<p>アルバム情報が存在しない場合、"No information available about albums."と表示されます。</p>
</section>
</body>
</html>
