<!DOCTYPE html>

<html lang="ja">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
	<title>検索ページの使い方</title>
</head>
<body>
	<h1>検索ページの使い方</h1>
	<section>
		<h2>検索タイプの選択</h2>
		<p><strong>"Search for song"</strong>、<strong>"Search for artist"</strong>、<strong>"Search for album"</strong> のいずれかを選ぶことで、検索対象を指定できます。</p>
		<h2>検索フォーム</h2>
		<p><strong>"Enter song or artist name"</strong> というプレースホルダーのあるテキストボックスに、検索したいアーティスト名、アルバム名、または楽曲名を入力してください。</p>
		<h2>プレイリスト一覧</h2>
		<p>プレイリストを選びます。Playボタンを押すとプレイリスト画面に遷移します。プレイリスト画面ではプレビュー再生(Spotify)、動画再生(YouTube)を楽しめます。</p>
	</section>
</body>
</html>
