<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="音楽特性のヘルプページ。" name="description">
        <meta content="hiro" name="author">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FZ8PJFVHVW"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-FZ8PJFVHVW');
        </script>
        <title>音楽特性の説明</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
        <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
    </head>
    <body>
    <div class="container">
        <section>
            <h2>音楽特性</h2>
            <ul>
                <li>
                    <strong>肯定感 (Valence)</strong><br>
                    曲が伝える肯定的な感情を0から100までの尺度で表します。<br>
                    バレンスが高い曲はより肯定的な感情（例：幸せ、明るい、高揚）を感じさせ、<br>
                    バレンスが低い曲はより否定的な感情（例：悲しい、沈んでいる、怒っている）を感じさせます。
                </li><br>
                <li>
                    <strong>アコースティック度 (Acousticness)</strong><br>
                    曲がアコースティックであるかどうかの確信度を0から100までで表します。<br>
                    100は、曲がアコースティックであるという高い確信度を表します。
                </li><br>
                <li>
                    <strong>踊りやすさ (Danceability)</strong><br>
                    曲がダンスに適しているかを、テンポ、リズムの安定性、ビートの強さ、全体的な規則性などの音楽的要素の組み合わせに基づいて評価します。<br>
                    0が最も踊りにくく、100が最も踊りやすいとされます。
                </li><br>
                <li>
                    <strong>エネルギー (Energy)</strong><br>
                    曲の強度と活動性を0から100までの尺度で表します。<br>
                    一般的に、エネルギッシュな曲は速く、大きな音、騒々しいと感じられます。<br>
                    例えば、デスメタルは高いエネルギーを持ち、バッハの前奏曲は尺度上で低いスコアとなります。<br>
                    この属性に寄与する知覚的特徴には、ダイナミックレンジ、知覚される音量、音色、発音速度、一般的なエントロピーなどがあります。
                </li><br>
                <li>
                    <strong>インストゥルメンタル度 (Instrumentalness)</strong><br>
                    曲にボーカルが含まれていない確率を予測します。<br>
                    「オー」と「アー」のような音は、この文脈では楽器として扱われます。<br>
                    ラップやスポークンワードのトラックは明らかに「ボーカル」です。<br>
                    インストゥルメンタル度の値が100に近いほど、曲にボーカルが含まれていない可能性が高くなります。<br>
                    50以上の値は、楽器のトラックを表す意図であり、値が100に近づくにつれて確信度が高くなります。
                </li>
            </ul>
        </section>
    </div>
    </body>
</html>
