<!DOCTYPE html>

<html lang="ja">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELP4DSW3BL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ELP4DSW3BL');
    </script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="hiro" name="author">
    <meta content="{{ song.name }} by {{ song.artists | map(attribute='name') | join(', ') }} - TuneNestで楽曲の詳細、人気度などを見つけましょう。" name="description">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ song.name }} by {{ song.artists | map(attribute='name') | join(', ') }}">
    <meta name="twitter:description" content="{{ song.name }}の人気度、音楽特性などを探索。">
    <meta name="twitter:image" content="{{ song.album_artwork_url or url_for('static', filename='TuneNest.png') }}">
    <title>{{ song.name }} by {{ song.artists | map(attribute='name') | join(', ') }} - 人気度、その他 | TuneNest</title>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "MusicRecording",
        "name": "{{ song.name }}",
        "byArtist": {
            "@type": "MusicGroup",
            "name": "{{ song.artists | map(attribute='name') | join(', ') }}"
        },
        "duration": "PT{{ song.duration // 60 }}M{{ song.duration % 60 }}S",
        "popularity": "{{ song.popularity }}",
        "album": "{{ song.album_name }}"
    }
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
</head>
<body>
<div class="container">
    {% macro render_progress_bar(property, value, bar_class="") %}
        <p><strong>{{ property }}</strong>: {{ value|float|round(1) }}%</p>
        <div class="progress-bar">
            <div class="progress {{ bar_class }}" style="width:{{ value }}%"></div>
        </div>
    {% endmacro %}
    <h1>{{ song.name }}</h1>
    <div class="section-space">
        <div class="album-artwork big-artwork">
            <img alt="アルバムアートワーク" src="{{ song.album_artwork_url or url_for('static', filename='TuneNest.png') }}" loading="lazy">
        </div>
        <iframe class="spotify-player" title="Spotify player" allow="encrypted-media" allowtransparency="true" frameborder="0" height="80" src="https://open.spotify.com/embed/track/{{ song_id }}" width="300"></iframe>
    </div> <!-- End of .section-space -->
    <div class="section-space">
        <h2>基本情報</h2>
        <!-- code for song properties -->
        <p><strong>Spotify人気度</strong>：{{ song.popularity }}%</p>
        <span class="stars">
            {% for _ in range(0, song.popularity // 10) %}
                <span class="star"><i class="fas fa-star"></i></span>
            {% endfor %}
            {% if song.popularity % 10 >= 5 %}
                <span class="half-star"><i class="fas fa-star-half-alt"></i></span>
            {% endif %}
            {% for _ in range(0, 10 - (song.popularity // 10) - (song.popularity % 10 >= 5)) %}
                <span class="empty-star"><i class="far fa-star"></i></span>
            {% endfor %}
        </span>
        <p><strong>アーティスト名</strong>：
        <ul>
            {% for artist in song.artists %}
                <li><a href="{{ url_for('artist_details', artist_id=artist.id) }}">{{ artist.name }}</a></li>
            {% endfor %}
        </ul>
        <p><strong>再生時間</strong>：{{ (song.duration // 60)|int }}:{{ "%02d"|format(song.duration % 60) }} ({{ song.duration|float|round(1) }}秒)</p>
        <p><strong>テンポ</strong>：{{ song.tempo|float|round(1) }} BPM</p>
        <p><strong>キー</strong>：{{ ["C", "C#/Db", "D", "D#/Eb", "E", "F", "F#/Gb", "G", "G#/Ab", "A", "A#/Bb", "B"][song.key] }}</p>
        <p><strong>調</strong>：{{ "メジャー" if song.mode == 1 else "マイナー" }}</p>
    </div> <!-- End of div -->
    <div class="visual-section">
        <h2>音楽特性 <a href="/help_song_details" class="help-link" target="_blank" rel="noopener" title="音楽特性の詳細情報">[?]</a></h2>
        <!-- code for visual properties -->
        {{ render_progress_bar("肯定感", song.valence, "progress-valence") }}
        {{ render_progress_bar("アコースティック度", song.acousticness, "progress-acousticness") }}
        {{ render_progress_bar("踊りやすさ", song.danceability, "progress-danceability") }}
        {{ render_progress_bar("エネルギー", song.energy, "progress-energy") }}
        {{ render_progress_bar("インストゥルメンタル度", song.instrumentalness, "progress-instrumentalness") }}
    </div> <!-- End of .visual-section -->
    <!-- Navigation Icon at the bottom -->
    <div class="mobile-home-icon">
        <a href="/" aria-label="Home">
            <i class="fas fa-home"></i> <!-- FontAwesomeのホームアイコン -->
        </a>
    </div>
</div>
</body>
</html>
