<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="hiro" name="author"/>
<meta content="Views song details." name="description"/>
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
<title>{{ song.name }} - Track Details</title>
</head>
<body>
<header>
<p><a href="/help_song_details" target="_blank">Help(Japanese)</a></p>
</header>
<div class="section-space">
<h1>{{ song.name }}</h1>
<div class="album-artwork">
<!-- Size can be adjusted -->
<img alt="Album Artwork" src="{{ song.album_artwork_url }}"/>
</div>
<iframe allow="encrypted-media" allowtransparency="true" frameborder="0" height="80" src="https://open.spotify.com/embed/track/{{ song_id }}" width="300"></iframe>
<p class="lyrics">{{ song.lyrics|safe }}</p>
<p>Lyrics provided by <a href="https://www.musixmatch.com" target="_blank">Musixmatch</a></p>
</div>
<div class="section-space">
<h2>Artist</h2>
<ul>
            {% for artist in song.artists %}
            <li><a href="{{ url_for('artist_details', artist_id=artist.id) }}">{{ artist.name }}</a></li>
            {% endfor %}
        </ul>
<p>Popularity: {{ song.popularity }}%</p>
<p>
            {% for i in range(0, (song.popularity // 10)) %}
                <span class="star">★</span>
            {% endfor %}
            {% for i in range(0, 10 - (song.popularity // 10)) %}
                <span class="empty-star">☆</span>
            {% endfor %}
        </p>
<p>Tempo: {{ song.tempo|float|round(1) }} BPM</p>
<p>Time Signature: {{ song.time_signature }} beats per measure</p>
<p>Duration: {{ (song.duration // 60)|int }}:{{ "%02d"|format(song.duration % 60) }} ({{ song.duration|float|round(1) }} seconds)</p>
<p>Key: {{ ["C", "C#/Db", "D", "D#/Eb", "E", "F", "F#/Gb", "G", "G#/Ab", "A", "A#/Bb", "B"][song.key] }}</p>
<p>Mode: {{ "Major" if song.mode == 1 else "Minor" }}</p>
</div>
<div class="visual-section">
<p>Valence: {{ song.valence|float|round(1) }}%</p>
<div class="progress-bar">
<div class="progress" style="width:{{ song.valence }}%"></div>
</div>
<p>Acousticness: {{ song.acousticness|float|round(1) }}%</p>
<div class="progress-bar">
<div class="progress" style="width:{{ song.acousticness }}%"></div>
</div>
<p>Danceability: {{ song.danceability|float|round(1) }}%</p>
<div class="progress-bar">
<div class="progress" style="width:{{ song.danceability }}%"></div>
</div>
<p>Energy: {{ song.energy|float|round(1) }}%</p>
<div class="progress-bar">
<div class="progress" style="width:{{ song.energy }}%"></div>
</div>
<p>Instrumentalness: {{ song.instrumentalness|float|round(1) }}%</p>
<div class="progress-bar">
<div class="progress" style="width:{{ song.instrumentalness }}%"></div>
</div>
</div>

<footer>
<p>Content provided by <a href="https://www.spotify.com" target="_blank">Spotify</a></p>
</footer>

</body>
</html>
