<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELP4DSW3BL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ELP4DSW3BL');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="google" content="notranslate"> <!-- Prevent translation -->
    <meta name="description" content="{{ song.name }} by {{ song.artists | map(attribute='name') | join(', ') }} - Tempo, Key, Duration, and Music Features">
    <meta name="author" content="hiro">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ song.name }} by {{ song.artists | map(attribute='name') | join(', ') }}">
    <meta name="twitter:description" content="Explore {{ song.name }}'s popularity and music features.">
    <meta name="twitter:image" content="{{ song.album_artwork_url or url_for('static', filename='tunenest.jpg', _external=True) }}?ver=1">
    <title>{{ song.name }} by {{ song.artists | map(attribute='name') | join(', ') }} - Popularity and More | tunenest</title>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "MusicRecording",
        "name": "{{ song.name }}",
        "byArtist": {
            "@type": "MusicGroup",
            "name": "{{ song.artists | map(attribute='name') | join(', ') }}"
        },
        "duration": "PT{{ song.duration // 60 }}M{{ song.duration % 60 }}S",
        "popularity": "{{ song.popularity }}",
        "album": "{{ song.album_name }}"
    }
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
  </head>
  <body>
    <div class="container">
      {% macro render_progress_bar(property, value, bar_class="", unit="%", original_value=None) %} 
      <p>{{ property }}: {{ (original_value if original_value is not none else value)|float|round(1) }}{{ unit }}</p>
      <div class="progress-bar">
        <div class="progress {{ bar_class }}" style="width:{{ value }}%"></div>
      </div>
      {% endmacro %}
      <div class="section-space">
        <h1><span class="notranslate">{{ song.name }}</span></h1>
        <div class="album-artwork">
          <img alt="Album Artwork" src="{{ song.album_artwork_url or url_for('static', filename='tunenest.jpg') }}" loading="lazy">
        </div>
        <iframe class="spotify-player" title="Spotify player" allow="encrypted-media" allowtransparency="true" frameborder="0" height="80" src="https://open.spotify.com/embed/track/{{ song_id }}" width="300"></iframe>
      </div>
      <div class="section-space">
        <h2>Basic Information</h2>
        <p>Spotify Popularity: {{ song.popularity }}%</p>
        <span>{% for _ in range(0, song.popularity // 10) %} 
          <span class="star">
            <i class="fas fa-star"></i>
          </span>{% endfor %} {% if song.popularity % 10 >= 5 %} 
          <span class="half-star">
            <i class="fas fa-star-half-alt"></i>
          </span>{% endif %} {% for _ in range(0, 10 - (song.popularity // 10) - (song.popularity % 10 >= 5)) %} 
          <span class="empty-star">
            <i class="far fa-star"></i>
          </span>{% endfor %} 
        </span>
        <p>Artists:</p>
        <ul>{% for artist in song.artists %}
          <li>
            <a href="{{ url_for('artist_details', artist_id=artist.id) }}" title="View Artist Details">{{ artist.name }}</a>
          </li>{% endfor %}
        </ul>
        <p>Album:
            <a href="{{ url_for('album_details', artist_id=song.artists[0].id, album_id=song.album_id) }}" title="View Album Details">{{ song.album_name }}</a>
        </p>
        <p>Release Date: {{ song.release_date }}</p>
        <p>Tempo: {{ song.tempo|float|round(1) }} BPM</p>
        <p>Key: {{ ["C", "C#/Db", "D", "D#/Eb", "E", "F", "F#/Gb", "G", "G#/Ab", "A", "A#/Bb", "B"][song.key] }}</p>
        <p>Mode: {{ "Major" if song.mode == 1 else "Minor" }}</p>
        <p>Camelot: {{ song.camelot_key }}</p>
        <p>Duration: {{ (song.duration // 60)|int }}:{{ "%02d"|format(song.duration % 60) }} ({{ song.duration|float|round(1) }} seconds)</p>
        <div>
            <a href="https://twitter.com/intent/tweet?text={{ song.name }} - {{ song.artists | map(attribute='name') | join(', ') }} {{ request.url }}" target="_blank" rel="noopener noreferrer" title="Share on X">
                <i class="fab fa-x-twitter"></i>Share</a>
        </div>
      </div>
      <div class="visual-section">
        <h2>Music Features 
          <a href="/help_song_details" class="help-link" title="View Music Feature Details">
            <i class="fas fa-question-circle"></i>
          </a>
        </h2>
        {{ render_progress_bar("Valence", song.valence, "progress-valence") }}
        {{ render_progress_bar("Acousticness", song.acousticness, "progress-acousticness") }}
        {{ render_progress_bar("Danceability", song.danceability, "progress-danceability") }}
        {{ render_progress_bar("Energy", song.energy, "progress-energy") }}
        {{ render_progress_bar("Instrumentalness", song.instrumentalness, "progress-instrumentalness") }}
        {{ render_progress_bar("Loudness (-60 dB to 0 dB)", song.loudness_normalized, "progress-loudness", " dB", song.loudness_raw) }}
        {{ render_progress_bar("Liveness", song.liveness, "progress-liveness") }}
        {{ render_progress_bar("Speechiness", song.speechiness, "progress-speechiness") }}
      </div>
      <div class="home-icon">
        <a href="/" aria-label="Home" title="Return to Home">
          <i class="fas fa-home"></i>
        </a>
      </div>
    </div>
  </body>
</html>
