<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta content="hiro" name="author"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>YouTube Video</title>
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <div class="video-container">
        <iframe id="youtube-video" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <script>
    function playVideo() {
        var iframe = document.getElementById('youtube-video');
        iframe.src = iframe.src + "?autoplay=1";
    }
    </script>

<footer>
	<p>&copy;2023 Developed by hiro. Content provided by <a href="https://www.youtube.com/" target="_blank">YouTube</a>.</p>
</footer>
</body>
</html>
