<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="hiro" name="author"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='f_f_event_43_s16_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='f_f_event_43_s32_f_event_43_0nbg.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='f_f_event_43_s64_f_event_43_0nbg.png') }}">
    <title>YouTube Video</title>
</head>
<body>
    <div class="video-container">
        <!-- Added title attribute -->
        <iframe id="youtube-video" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen title="YouTube Video"></iframe>
    </div>
    <footer>
        <!-- Added rel attribute -->
        <p>Data sourced from <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i> YouTube</a></p>
    </footer>
</body>
</html>
